  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-half">
    
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-container">
            <p><i class="fa fa-female fa-fw w3-margin-right w3-large w3-text-teal"></i>Кристина</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Школа №129</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>г.Новосибирск</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          </div>
        </div>
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-half">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-container">
              <p><i class="fa fa-female fa-fw w3-margin-right w3-large w3-text-teal"></i>Настя</p>
              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Школа №129</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>г.Новосибирск</p>
              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
              <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          </div>
        </div>
  
      <!-- End Right Column -->
      </div>
    
  <!-- End Grid -->
  </div>
