<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens1.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens2.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens3.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens4.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens5.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens6.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens7.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens8.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens9.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens10.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens11.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens12.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens13.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens14.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens15.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens16.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens17.jpg" style="width:100%">
    <img  alt="Photo by freestocks.org from Pexels" src="/assets/images/kittens18.jpg" style="width:100%">
  </div>
</div>